@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nunito Italic';
  src: url("../src/assets/fonts/Nunito/Nunito-Italic.ttf")

}

@font-face {
  font-family: 'Nunito Bold';
  src: url('../src/assets/fonts/Nunito/Nunito-Bold.ttf');
}

@font-face {
  font-family: 'Nunito Extra Bold';
  src: url('../src/assets/fonts/Nunito/Nunito-ExtraBold.ttf');
}

@font-face {
  font-family: 'Nunito Extra Bold Italic';
  src: url('../src/assets/fonts/Nunito/Nunito-ExtraBoldItalic.ttf')
}

@font-face {
  font-family: 'Open Sans Semi Bold';
  src: url('../src/assets/fonts/OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../src/assets/fonts/OpenSans/OpenSans-Regular.ttf');
}

input::placeholder {
  color: #212529;
}